@font-face {
    font-family: 'Novecento sans wide Light';
    src: url('Novecentosanswide-DemiBold-webfont.woff2') format('woff2'),
         url('Novecentosanswide-DemiBold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue';
	font-style: normal;
	font-weight: normal;
	src: local('HelveticaNeue'), url('HelveticaNeueLight.woff') format('woff');
}